.chat-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.chatbox {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #36393f;
  padding: 20px;
}
.chat-message {
  margin-top: 10px;
}

.message_content{
  color: white;
}

.timestamp{
  font-weight: bold;
  color: #b9bbbe;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 10px;
}