
.chatbox {
  height: 700px;
  overflow-y: scroll;
  background-color: #20232B;
}

.message_content{
  color: black;
  background-color: #DCF8C6;
  border-radius: 10px;
  display: inline-block;
  max-width: 60%;
  margin-bottom: 5px;
  padding: 10px;
}

.timestamp{
  font-weight: bold;
  color: #b9bbbe;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: 10px;
}

.room_name {
  border-bottom: 1px solid #dbe0e9;
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  padding-top: 5px;
}