.chat-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.chatbox {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
}
.chat-message {
  margin-top: 10px;
}